/*Сбро стилей*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Nunito", sans-serif;
}
body{
    background-color: rgb(202, 215, 225);
}
/* 1 секция*/
.hero{
    max-width: 1100px;
    width: 100%;
    margin: 60px auto;
    background-color: #f1e9e9d2;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 5px 5px 5px 5px rgba(96, 96, 96, 0.364);
}
.vacancy-list{
    margin-top: 30px;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.vacancy-list li{
    padding: 20px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    gap: 10px;
    transition: all 0.4s ease;
}
.vacancy-list li:hover{
    transform: scale(1.03);
    border: 3px solid #690a7a;
}
.vacancy-list h2{
    font-size: 20px;
}
.vacancy-list a{
    text-decoration: none;
    color: rgb(119, 0, 123);
}
/*Мобильная адаптация*/
@media(max-width:500px){
    .hero{
        width: 80%;
    }
    .hero h1{
        font-size: 20px;
    }
    .vacancy-list h2{
        font-size: 16px;
    }
    .vacancy-list strong, .vacancy-list p{
        font-size: 14px;
    }
}
@media(max-width:400px){
    .hero h1{
        font-size: 18px;
    }
    .vacancy-list h2{
        font-size: 14px;
    }
    .vacancy-list strong, .vacancy-list p{
        font-size: 12px;
    }
}